*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;  
    font-family: 'Rubik', sans-serif; 
}
.flexDisplay{
    display: flex;
}
.flexDirCol{
    flex-direction: column;
}
.flexBetween{
    justify-content: space-between;
}
.flexEnd{
    justify-content: end;
}
.flexAround{
    justify-content: space-around;
}
.flexCenter{
    justify-content: center;
}
.flexEvenly{
    justify-content: space-evenly;
}
.flexItemCenter{
    align-items: center;
}
.main{
    height: 100vh;
}
.textLight{
    color: #fff;
}
.textBlue{
    color: #32507b;
}
.bgBlue{
    background-color: #32507b;
}
.bgSkyBlue{
    background-color: #dcf2f2;
}
.footerLogo{
    width: 50px;
    height: auto;
}
.footerContainer{
    height: 50px;
    width: 97%;
    margin: auto;
}
.footerObjective{
    height: 20px;
}
.logoContainer{
    margin-left: 10px;
}
.dateTimeContainer{
    margin-right: 10px;
    width: 140px;
}
.bgGreen{
    background-color: #F1F6C7;
}
.operationContainer{
    width: 650px;
    height: 300px;
}
.textCenter{
    text-align: center;
}
.labelContainer{
    width: 40%;
    margin-left: 5%;
    width: 350px;
}
.headerConteiner{
    height: 30px;
    border-bottom: #32507b 1px solid;
}
.userInputContainer{
    height: 250px;
}
select{
    width: 180px;
    height: 30px;
}
input{
    width: 180px;
    height: 25px;
}
.btn{
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.selectContainer{
    height: 100px;
    width: 100%;
}