*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;  
    font-family: 'Rubik', sans-serif; 
    box-sizing: border-box;
}
textarea{
    overflow: scroll;
    overflow-x: hidden;
    font-family: monospace;
    font-size: 14px;
}
.flexDisplay{
    display: flex;
}
.flexDirCol{
    flex-direction: column;
}
.flexBetween{
    justify-content: space-between;
}
.flexAround{
    justify-content: space-around;
}
.flexCenter{
    justify-content: center;
}
.flexEvenly{
    justify-content: space-evenly;
}
.flexEnd{
    justify-content: flex-end;
}
.flexItemCenter{
    align-items: center;
}
.main{
    height: 100vh;
}
.textLight{
    color: #fff;
}
.textBlue{
    color: #32507b;
}
.bgBlue{
    background-color: #32507b;
}
.bgSkyBlue{
    background-color: #dcf2f2;
}
.footerLogo{
    width: 50px;
    height: auto;
}
.footerContainer{
    height: 50px;
    width: 97%;
    margin: auto;
}
.footerObjective{
    height: 20px;
}
.logoContainer{
    margin-left: 10px;
}
.dateTimeContainer{
    margin-right: 10px;
    width: 140px;
}
.bgGreen{
    background-color: #F1F6C7;
}
.operationContainer{
    width: 800px;
    height: 500px;
}
.btn{
    border: none;
    width: 150px;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}
.dateInput{
    width: 150px;
    height: 25px;
}
.smallInput{
    width: 150px;
    height: 25px;
}
.labelContainer{
    width: 30%;
    margin-left: 5%;
}
.inputContainer{
    height: 30px;
}
.headerConteiner{
    height: 30px;
    border-bottom: #32507b 1px solid;
}
.userInputContainer{
    height: 80px;
    border-bottom: #32507b 1px solid;
}
.loopResultContainer{
    height: 300px;    
    width: 225px;
    border:#32507b 1px solid;   
    padding: 10px;
}
.secondsContainer{
    height: 250px;
    row-gap: 10px;
    width: 220px;
}
.btnContainer{
    width: 90%;
}