*{
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif; 
    list-style-type: none;
}
.flexDisplay{
    display: flex;
}
.flexDirCol{
    flex-direction: column;
}
.flexBetween{
    justify-content: space-between;
}
.flexAround{
    justify-content: space-around;
}
.flexCenter{
    justify-content: center;
}
.flexEvenly{
    justify-content: space-evenly;
}
.flexItemCenter{
    align-items: center;
}
.main{
    min-height: 99.7vh;
}
.textLight{
    color: #fff;
}
.textBlue{
    color: #32507b;
}
.bgBlue{
    background-color: #32507b;
}
.bgSkyBlue{
    background-color: #dcf2f2;
}
.footerLogo{
    width: 50px;
    height: auto;
}
.footerContainer{
    height: 50px;
    width: 97%;
    margin: auto;
}
.footerObjective{
    height: 20px;
}
.logoContainer{
    margin-left: 10px;
}
.dateTimeContainer{
    margin-right: 10px;
    width: 140px;
}
.bgGreen{
    background-color: #F1F6C7;
}
.textDanger{
    color: red;
}
.btnGreen{
    background-color: #22C252;
}
.btn{
    border: none;
    width: 120px;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.bottomContainer{
    width: 50%;
    height: 220px;
}
.uploadContainer{
    width: 330px;
    height: 140px;
    position: relative;
}
#uploadBtn{
    display: none;
}
.imgContainer{
    width: 100px;
    height: 100px;
    border: #22C252 2px solid;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}
.imgFluid{
    width: 100%;
    height: 100%;
}
.genderCollection{
    width: 160px;
}
.genderContainer{
    width: 50px;
}
.femaleGender{
    width: 70px;
}
.gridDisplay{
    display: grid;
    grid-template-columns: auto auto auto;
}
.inputCollectionContainer{
    width: 65%;
}
.inputField{
    width: 320px;
    height: 20px;
}
textarea{
    resize: none;
}
.flexEnd{
    justify-content: flex-end;
}
.widthBlock{
    width: 100%;
    height: 40px;
}
.btnContainer{
    width: 300px;
}
.container{
    width: 90%;
    margin: 0px auto;
}
.inputBox{
    height: 70px;
}
.visibleNone{
    visibility: hidden;
}
form input, form select, form textarea{
    display: block;
}
input[type = 'checkbox']{
    display: inline;
}
form main div{
    min-height: 70px;
}
.textAreaContainer{
    min-height: 120px;
}
#addressCheckBox{
    cursor: pointer;
}
table td{
    text-align: center;
    min-width: 50px;
    padding: 10px;
}
tr{
    border-bottom: 1px solid #ddd;
}
#tableContainer{
    width: 90%;
    margin: auto;
}
.tableScroll{
    overflow-x: scroll;
}
table{
    margin: 30px auto;
    margin-bottom: 50px;
}
table td button{
    padding: 8px;    
    border: 1px black solid;
}
.bgRed{
    background-color: red;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
}
thead tr{
    background-color: black;
    color: white;
}
td{
    width: 350px;
}
.displayNone{
    display: none;
}
.user{
    text-decoration: underline;
}
input#dob::-webkit-calendar-picker-indicator, select, input[type = "radio"] {
    cursor: pointer;
}
th{
    padding: 0px 20px;
    margin: 20px;
}
table button {
    margin:  0px 5px;
}
.pointer{
    cursor: pointer;
}
.addOpacity{
    opacity: 0.8;
}
label{
    cursor: pointer;
}